.track-list {
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.track-list::-webkit-scrollbar {
  width: 10px;
  left: -100px;
}

.track-list::-webkit-scrollbar-track {
  background: transparent;
}

.track-list::-webkit-scrollbar-thumb {
  background: rgba(110, 110, 110, 0.514);
  border-radius: 10px;
}

.track-list::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}

ul.track-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.track-list li {
  background-color: inherit;
  padding-left: 1.5rem;
}

.track-list li:nth-child(odd) {
  background: #ececec;
}
