.wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.regular {
  img {
    height: 100px;
    margin: 1rem;
    margin-bottom: 55px;
  }
}

.small {
  img {
    height: 30px;
    position: relative;
  }
}
