@use "../../style/style" as *;

.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  h2 {
    margin: 0 5.5rem 0.5rem 1.5rem;
  }
}

.wrapper {
  height: 250px;

  ul {
    list-style: none;
    max-height: 89%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    background-color: inherit;
    padding-left: 1.5rem;
  }

  li:nth-child(odd) {
    background: #ececec;
  }

  li:hover {
    background-color: $global__hover-row;
  }

  ul::-webkit-scrollbar {
    width: 10px;
    left: -100px;
  }

  ul::-webkit-scrollbar-track {
    background: transparent;
  }

  ul::-webkit-scrollbar-thumb {
    background: rgba(110, 110, 110, 0.514);
    border-radius: 10px;
  }

  ul::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

@media (max-width: 1084px) {
  .wrapper {
    height: calc(100% - $global__control-bar-height);
  }
}
