.music-player-header {
  height: 174px;
  box-sizing: border-box;
  position: relative;
}

.music-player-header > img {
  height: 100px;
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;
  margin-right: 1.5rem;
}

.music-player-header__cover > img {
  position: absolute;
  bottom: -26px;
  right: 0;
}
