.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  // gap: 2rem;
  background-color: inherit;
}

@media (max-width: 1084px) {
  .container {
    width: 100vw;
  }
}
