@use "../../style/style" as *;

.playback {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  svg {
    cursor: pointer;
    scale: 1.2;
    path {
      color: $global__inactive;
    }
    &:hover {
      scale: 1.5;
    }
    &:hover path {
      color: $global__text;
    }
  }
}

@media (max-width: 1084px) {
  .playback {
    svg {
      scale: 1.8;
      &:hover {
        scale: 1.8;
      }
    }
  }

  .playbutton {
    padding: 0.5rem;

    svg {
      height: 2rem;
      width: 2rem;
      background-color: rgb(241, 172, 172);
      border-radius: 2rem;
    }
  }
}
