.control-panel {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-panel-playback,
.control-panel-shuffle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  scale: 1.2;
}

.control-panel-seekbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.control-panel-volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
