@use "../../style/style" as *;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  scale: 1.2;
}

.button {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  svg {
    cursor: pointer;
  }

  svg {
    cursor: pointer;
    path {
      color: $global__inactive;
    }
    &:hover {
      scale: 1.5;
    }
    &:hover path {
      color: $global__text;
    }
  }
}

.active {
  svg {
    path,
    &:hover path {
      color: $global__active-icon;
    }
  }
}
