@use "../../style/style" as *;

.wrapper {
  svg {
    cursor: pointer;
    scale: 1.2;

    path {
      color: $global__inactive;
    }
    &:hover {
      scale: 1.5;
    }
    &:hover path {
      color: $global__text;
    }
  }
}
